* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: #804eaf;
  color: antiquewhite;
  padding-inline: 45px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 1.8rem;
  margin-right: 20px;
  text-decoration: none;
  color: rgb(250, 4, 4);
}

.navbar-right {
  display: flex;
  align-items: center;
}

.nvbar-link {
  color: rgb(10, 10, 10);
  text-decoration: none;
  margin-left: 20px;
}

.nvbar-link:hover {
  text-decoration: underline;
}
